html, body {
    height: 100%;
}

body {
    margin: 0;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 8fr 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
    color: white;
}

header {
    background-color: #00137A;
    grid-column: 1 / 3;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

header nav a {
    text-decoration: none;
    color: white;
}

header nav a:hover {
    color: #4B65F9;
}

main {
    background-color: #4B65F9;
    overflow-y: scroll;
    padding: 10px 20px;
    grid-column: 1 / 3;
}

main a {
    text-decoration: none;
    color: white;
}

main a:hover {
    color: black;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #0025F7;
    grid-column: 1 / 3;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #4B65F9;
}

.centralizado {
    text-align: center;
}

div ul li {
    list-style-type: none;
}

ul {
    position: relative;
    width: 450px;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
}

ul li {
    display: flex;
    background: #0025F7;
    padding: 10px 20px;
    color: #fff;
    margin: 5px 0;
    transition: .5s;
    border-radius: 5px;
}

ol li {
    list-style-type: none;
}